*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
#container
{
  min-height: 100%;
  min-width: 100%;
  /* border:2px solid black; */
}
.nav
{
  /* list-style-type: block; */
  background-color: rgb(252, 252, 252);
  box-shadow: 4px 5px 11px 10px rgba(0,0,0,0.50);
  display: block;

  
}

#code_img
{ 
   margin-left:7%; 
   padding-bottom:0px;
   top:20px;
   display:inline;
   position: relative;
}
#Name
{
  color: rgb(255, 145, 0);
  font-size: 32px
}
#firstspace
{
  margin-left: 1%;
}
#about
{
  margin-left: 27%;
}
#intro
{
  text-align: center;
  margin-top:33%;
  margin-bottom: 23%;
  font-size: 24px;
  max-width: 100%;
}
.nav > li{
  display: inline-block;
  padding-bottom: 23px;
  padding-top: 23px;
  margin-left: 1%;
  padding-right: 0%;
  margin-right: 0%;
}

.foot
{
  /* Rectangle: */
  /* Rectangle: */
  background: rgba(95,119,184,0.54);
  border: 3px solid #FFFFFF;
  box-shadow: 4px 5px 11px 10px rgba(0,0,0,0.50);
  margin-top: -63px;
  position: relative;
  height: 63px;
}
.foot > ul
{
  list-style-type: none;

}
.foot > ul > li{
  display: inline-block;


}
a{
/* Achievments: */
font-family: 'Roboto Slab', serif;
font-size: 28px;
color:#555555;
text-decoration: none;

/*padding-left: 25px;*/
}
a:hover
{
  color: #FFEF00;
}
a:active
{
  color: #7321BA;
}
.parallax {

    background-image: url("WALL.jpg");

    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img
{
width: 7%;
height: 7%;
}
@media screen and (max-width:370px){
  #code_img
{ 
   margin-left:40%; 
   padding-bottom:0px;
   top:1px;
   display:block;
   position: relative;
}
#img
{
width: 35%;
height: 6%;
}
#Name
{
  color: rgb(255, 145, 0);
  font-size: 27px
}
/* #firstspace
{
  margin-left: 1%;
}
#secondspace
{
  margin-left: 4%;
}
a
{
  font-size: 18px;
}
*/
#intro
{
  margin-top: 70%;
  font-size: 20px;
} 
#Navigation
{
  display: none;
}
#about
{
  display:none;
}
#Achievments
{
  display:none;
}
#Education
{
  display: none;
}
#Projects
{
  display: none;
}

}
