*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
#container
{
  min-height: 100%;
  min-width: 100%;
  /* border:2px solid black; */
}
.nav
{
  /* list-style-type: block; */
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 4px 5px 11px 10px rgba(0,0,0,0.50);
  min-width: 100%;
  display:block;
  line-height: 50px;
  border: 2px solid rgb(255, 255, 255);
}
#code_img
{ 
   margin-left:6%; 
   padding-bottom:0px;
   top:20px;
   display:inline;
   position: relative;
}
#firstspace
{
  margin-left:0.8%; 
   padding-bottom:0px;
   top:9px;
   display:inline;
   position: relative;
}
#about
{
  margin-left: 24%;
}
#intro
{
  text-align: center;
  margin-top:24%;
  margin-bottom: 23%;
  font-size: 24px;
  max-width: 100%;
}
.nav > li{
  display: inline-block;
  padding-bottom: 23px;
  padding-top: 23px;
  margin-left: 1%;
  padding-right: 0%;
  margin-right: 0%;
}
#tarun
{
  width: 300px;
  height: 45px;
}
label
{
  float: right;
  margin-right: 4%;
  margin-top:4%;
  font-size: 22px;
  display:none;
 
}
.dropdown
{
  margin: 0 32px 0 0;
  background-color: rgba(255, 255, 255, 0);
}
.dropdown a{

  font-family: 'Roboto Slab', serif;
  font-size: 29px;
  text-decoration: none;
  margin:0 10px;
  line-height: 65px;
  display: none;

  color: #ffffff;
  }
.foot
{
  background: rgba(0, 0, 0, 0.877);
  border: 3px solid #FFFFFF;
  box-shadow: 4px 5px 11px 10px rgba(122, 85, 4, 0.788);
  margin-top: -63px;
  position: relative;
  height: 63px;
}
.foot > ul
{
  list-style-type: none;

}
.foot > ul > li{
  display: inline-block;


}
#follow
{
  color:#ffffff;
  margin-left:73%;
  top:12px;
  display: inline-block;
  position: relative;
}
.foot a
{
  margin-left:20px;
}
#github
{
width: 55%;
height:45%;
 top:15px;
 display:inline-block;
 position: relative;
}
#linked
{
  width: 27px;
  height: 27px;
  top:15px;
  display:inline-block;
  position: relative;
}
.nav a
{
font-family: 'Roboto Slab', serif;
font-size: 28px;
color:#444444;
text-decoration: none;
}
.nav a:hover
{
  color: rgb(255, 145, 0);
}
.nav a:active
{
  color: #7321BA;
}
.parallax
 {

    background-image: url("WALL.jpg");

    height: 100%;

    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img
{
width: 7.5%;
height: 7.5%;
}
#toggle
{
  display: none;
}
@media screen and (max-width:375px){
  #code_img
{ 
   margin-left:2%; 
   padding-bottom:0px;
   top:18px;
   display:inline;
   position: relative;
}
#img
{
width: 15%;
height: 6%;
}
#Name
{
  color: rgb(255, 145, 0);
  font-size: 27px;
}
 #firstspace
{
  margin-left:0.6%; 
   padding-bottom:0px;
   top:9px;
   display:inline;
   position: relative;
}
a
{
  font-size: 18px;
}
#intro
{
  margin-top: 70%;
  font-size: 19px;
} 
#Navigation
{
  display: none;
}
#about
{
  display:none;
}
#Achievments
{
  display:none;
}
#Education
{
  display: none;
}
#Projects
{
  display: none;
}
label
{
 
  display: block;
  cursor: pointer;
}
.dropdown
{
  text-align: center;
  width:100%;
  display: none;
  
}
.dropdown a
{
  display: block;
  margin: 0;
  border-bottom:3px solid rgb(255, 163, 44);
  
}
.dropdown a:hover
{
  color: rgb(255, 145, 0);
  
}
#toggle:checked + .dropdown
{
  display: block;

}
#github
{
width: 55%;
height:45%;
}
#linked
{
  width: 25px;
  height: 25px;
}
#follow
{
  margin-left:3%;
 
}
.foot a
{
  margin-left:15px;
}
#tarun
{
  width: 230px;
  height: 35px;

}
}
